<header>
    <span class="title">Popularne linki</span>
	<div class="button-group">
		<mat-slide-toggle
      color="primary"
      (change)="toggleChange()">
      Widok uproszczony
    </mat-slide-toggle>
  </div>
</header>
<div class="link-card-container">
	<div *ngIf="simpleLinks === true">
		<app-inline-link-card
			*ngFor="let link of links"
			[link]="link"
			class="link-card">
		</app-inline-link-card>
	</div>
	<div *ngIf="simpleLinks === false">
    <div class="link-card-grid">
      <app-link-card
        *ngFor="let link of links"
        [link]="link"
        class="single-link-card">
      </app-link-card>
    </div>
	</div>
</div>
