@import 'variables.scss';

h1{
    color: $my-primary;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    margin-top: 2rem;
}

.test {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.user {
    background-color: limegreen;
    font-size: 14t;
    margin: 0px auto;
    width: 80%;
    padding: 10px 10px;
}

.link-list {
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
}

.link-list > mat-card {
    margin: 5px;
}