@import 'variables.scss';

header {
    margin: 2rem 16px 2rem 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .title {
        font-size: 40px;
        color: $my-primary;
        font-weight: bold;
    }
    .button-group {
        margin-left: auto;
        display: flex;
        flex-direction: row;
        align-items: center;

        button {
            margin-left: auto;
            border: 1px solid $my-primary;
            border-radius: 25px;
        }
    }
}

h1{
    color: $my-primary;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    margin-top: 2rem;
}

.link-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 90%;
}

.link-card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.link-card {
    padding: 0.5rem;
    width: 100%;
}

.single-link-card {
    padding: 1rem;
}
