<h1>Popularne linki</h1>
<mat-grid-list 
	[cols]="cols"
	rowHeight="400px">
	<mat-grid-tile *ngFor="let link of links">
		<app-single-link-card [link]="link"></app-single-link-card>
	</mat-grid-tile>
</mat-grid-list>
<div class="link-card-container">
	<app-single-link-card 
		*ngFor="let link of links" 
		[link]="link"
		style="padding: 1rem;">
	</app-single-link-card>
</div>
<div class="user">
	<h2>Komponent użytkownika {{ userName }}</h2>
	<h3 *ngIf="folder">Ścieżka: {{ folder }}</h3>
	<button (click)="onClickAcction()">Przykładowy error</button>
	<button (click)="onClickAcction1()">Przykładowy info</button>
	<button (click)="onClickAcction2()">Przykładowy success</button>
	<div class="link-list">
		<app-single-link-card 
			*ngFor="let link of links" 
			[link]="link">
		</app-single-link-card>
	</div>
</div>