@import 'variables.scss';

header {
    margin: 2rem 16px 2rem 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .breadcrumb {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        .icon-box {
            margin-right: 1rem;
            line-height: 50%;
            .icon {
                width: auto;
                height: auto;
                font-size: 40px;
                color: $my-primary;
            }
        }
        .breadcrumb-list {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            padding: 0;
            margin: 0;
            .breadcrumb-item {
                font-size: 25px;
                font-weight: bold;
                color: $my-primary;
                position:relative;
                a {
                    text-decoration: none;
                    color: #C4C4C4;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                & + .breadcrumb-item {
                    margin-left: 25px;
                    &::before {
                        content:"\A";
                        border-style: solid;
                        border-width: 7px 0 7px 12px;
                        border-color: transparent transparent transparent #C4C4C4;
                        position: absolute;
                        top: 3px;
                        left: -18px;
                        border-radius: 3px;
                    }
                }
            }
        }
    }
    .button{
        margin-left: auto;
        border: 1px solid $my-primary;
        border-radius: 25px;
    }
}

.link-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}