<p class="title">
  MewaLink
</p>
<p class="description">
  Twoje miejsce do przechowywania linków.
</p>
<form class="company-email-form">
  <mat-form-field appearance="outline">
    <mat-label>
      Twój email
    </mat-label>
    <input
      type="email"
      matInput [formControl]="emailFormControl"
      placeholder="name@company.com">
    <mat-error
      *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Proszę wprowadź poprawy andres email
    </mat-error>
    <mat-error
      *ngIf="emailFormControl.hasError('required')">
      Email jest <strong>wymagany</strong>
    </mat-error>
  </mat-form-field>
  <button
    mat-flat-button
    color="primary"
    type="submit">
    Rozpocznij przygodę
  </button>
</form>
