<h1 mat-dialog-title>
	<mat-icon class="icon">
		{{ data.icon }}
	</mat-icon>
	<span>
		{{ data.title }}
	</span>
</h1>
<form 
	[formGroup]="addEditLink"
	(ngSubmit)="submit()">
	<div mat-dialog-content>
		<mat-form-field appearance="fill">
			<mat-icon class="icon" matPrefix>
				link
			</mat-icon>
			<mat-label>
				Url
			</mat-label>
			<input 
				type="url"
				placeholder="https://example.com"
				matInput 
				formControlName="url">
				<!-- <mat-error
				*ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
				Please enter a valid email address
				</mat-error>
				<mat-error
				*ngIf="emailFormControl.hasError('required')">
				Email is <strong>required</strong>
				</mat-error> -->
		</mat-form-field>
		<mat-form-field appearance="fill">
			<mat-icon class="icon" matPrefix>
				title
			</mat-icon>
			<mat-label>
				Nazwa
			</mat-label>
			<input 
				type="text" 
				placeholder="Link" 
				matInput 
				formControlName="name">
		</mat-form-field>
		<mat-form-field appearance="fill">
			<mat-icon class="icon" matPrefix>
				text_fields
			</mat-icon>
			<mat-label>
				Opis
			</mat-label>
			<input 
				type="text" 
				placeholder="Opis" 
				matInput 
				formControlName="description">
		</mat-form-field>
		<mat-form-field appearance="fill">
			<mat-icon class="icon" matPrefix>
				link
			</mat-icon>
			<mat-label>
				Tagi
			</mat-label>
			<mat-chip-list 
				#chipList 
				aria-label="Tag selection">
				<mat-chip
					*ngFor="let tag of tags"
					(removed)="remove(tag)">
					{{tag.name}}
					<button matChipRemove>
						<mat-icon>cancel</mat-icon>
					</button>
				</mat-chip>
				<input
					placeholder="Nowy tag..."
					#tagInput
					[formControl]="tagControl"
					[matAutocomplete]="auto"
					[matChipInputFor]="chipList"
					[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
					(matChipInputTokenEnd)="add($event)">
			</mat-chip-list>
			<mat-autocomplete 
				#auto="matAutocomplete" 
				(optionSelected)="selected($event)">
				<mat-option 
					*ngFor="let tag of filteredTags | async" 
					[value]="tag">
					{{tag.name}}
				</mat-option>
			</mat-autocomplete>
		</mat-form-field>
	</div>
	<div mat-dialog-actions>
		<button 
			mat-button 
			color="primary" 
			type="button"
			(click)="close()">
			Anuluj
		</button>
		<button
			mat-flat-button
			color="primary"
			type="submit" 
			[disabled]="!addEditLink.valid">
			Dodaj
		</button>
	</div>
</form>