<h1 mat-dialog-title>
	<mat-icon class="icon">
		{{ data.icon }}
	</mat-icon>
	<span>
		{{ data.title }}
	</span>
</h1>
<form 
	[formGroup]="addEditLink"
	(ngSubmit)="submit()">
	<div mat-dialog-content>
		<mat-form-field appearance="fill">
			<mat-icon 
				class="icon" 
				matPrefix>
				link
			</mat-icon>
			<mat-label>
				Url
			</mat-label>
			<input 
				type="url"
				placeholder="https://example.com"
				matInput 
				formControlName="url">
		</mat-form-field>
		<mat-form-field appearance="fill">
			<mat-icon 
				class="icon" 
				matPrefix>
				title
			</mat-icon>
			<mat-label>
				Nazwa
			</mat-label>
			<input 
				type="text" 
				placeholder="Link" 
				matInput 
				formControlName="name">
		</mat-form-field>
		<mat-form-field appearance="fill">
			<mat-icon 
				class="icon" 
				matPrefix>
				text_fields
			</mat-icon>
			<mat-label>
				Opis
			</mat-label>
			<input 
				type="text" 
				placeholder="Opis" 
				matInput 
				formControlName="description">
		</mat-form-field>
	</div>
	<div mat-dialog-actions>
		<button 
			mat-button 
			color="primary" 
			type="button"
			(click)="dialogRef.close();">
			Anuluj
		</button>
		<button
			mat-flat-button
			color="primary"
			type="submit" 
			[disabled]="!addEditLink.valid">
			Dodaj
		</button>
	</div>
</form>