@import 'variables.scss';

.mat-toolbar {
    background-color: transparent;
    border-bottom: 1px solid #999999;
    position: sticky;
    top: 0;
    z-index: 999;
    transition: 0.2s linear;
    &.fixed {
        transition: 0.2s linear;
        background-color: rgba($color: #FFFFFF, $alpha: 0.9);
    }
}

.spacer {
    flex: 1 1 auto;
}

.link {
    text-decoration: none;
    color: black;
}

::ng-deep .border {
    border: 1px solid $my-primary;
}

.user-menu {
    padding: 1rem;
    font-size: medium;
}

.ml {
    margin-left: 1rem;
}

hr {
    margin: 0 1rem 0 1rem;
    height: 1px;
    background-color: $my-primary;
    border: 0;
}