
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

//Mewa color
/* For use in src/lib/core/theming/_palette.scss */
$mewa-primary: (
    50 : #e0f3ff,
    100 : #b3e0ff,
    200 : #80ccff,
    300 : #4db8ff,
    400 : #26a8ff,
    500 : #0099ff,
    600 : #0091ff,
    700 : #0086ff,
    800 : #007cff,
    900 : #006bff,
    A100 : #ffffff,
    A200 : #f2f7ff,
    A400 : #bfd6ff,
    A700 : #a6c6ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Angular-Mewa-primary: mat.define-palette($mewa-primary);
$Angular-Mewa-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Angular-Mewa-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Angular-Mewa-theme: mat.define-light-theme((
  color: (
    primary: $Angular-Mewa-primary,
    accent: $Angular-Mewa-accent,
    warn: $Angular-Mewa-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($Angular-Mewa-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

div.wrapper,
div.content-wrapper,
div.sidebar {
  min-height: 100vh;
}

.snackbar-error {
  background-color: #c52525;
}

.snackbar-warning {
  background-color: #e6db45;
}

.snackbar-success {
  background-color: #6cc94f;
}

.snackbar-success {
  background-color: #43c6ca;
}
