<mat-card id="mainCard">
  <mat-card-header>
    <mat-card-title id="title">{{ linkCard.title }}</mat-card-title>
    <a id="moreIcon" ><mat-icon>more_vert</mat-icon></a>
  </mat-card-header>
  <mat-card-content>
    <img mat-card-image [ngStyle]="{'background-image': 'linear-gradient(0deg, #0099FF 0%, rgba(0, 153, 255, 0) 100%), url(' + linkCard.imageURL + ')'}">
    <mat-card-subtitle id="description">{{ linkCard.description | customSlice: 120 }}</mat-card-subtitle>
  </mat-card-content>

  <mat-card-footer>
    <mat-card-subtitle id="link">{{ 'https://' + linkCard.link | customSlice:120 }}</mat-card-subtitle>
    <a id="linkIcon" (click)="Copy();"><mat-icon>content_copy</mat-icon></a>
<!--    <a id="link"><mat-icon>link</mat-icon></a>-->
  </mat-card-footer>
</mat-card>
