
.mainCard {
  border: 1px solid #0099FF;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  display: flex;
  flex-direction: row;
  padding: 5px 15px;
  align-items: center;
  justify-content: space-between;
  border-radius: 25px;
  background: white;
}

.mainCard:hover {
  box-shadow: 0 6px 12px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}

.moreIcon {
  margin-left: auto;
  margin-right: 0;
  cursor: pointer;
}

.link {
  border: 1px solid #0099FF;
  padding: 2px 15px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border-radius: 25px;
  background: white;
  max-width: 80%;
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}

.link:hover {
  background: #0099FF1F;
}