<div class="inline-card">
  <div class="page-icon">
    <mat-icon>
      link
    </mat-icon>
  </div>
  <div class="card-title">
    {{ link.name }}
  </div>
  <div
    class="link"
    (click)="redirect()">
    {{ link.url }}
  </div>
  <div class="buttons">
    <a
      id="moreIcon"
      [matMenuTriggerFor]="menu">
      <mat-icon>
        more_vert
      </mat-icon>
    </a>
    <a
      id="linkIcon"
      (click)="onCopy()">
      <mat-icon>
        content_copy
      </mat-icon>
    </a>
    <mat-menu
      #menu="matMenu"
      xPosition="before">
      <button
        mat-menu-item
        (click)="onEdit()">
        <mat-icon>
          edit
        </mat-icon>
        <span>
        Edytuj
      </span>
      </button>
      <button
        mat-menu-item
        (click)="onDelete()">
        <mat-icon>
          remove
        </mat-icon>
        <span>
        Usuń
      </span>
      </button>
      <button
        mat-menu-item
        (click)="onShare()">
        <mat-icon>
          share
        </mat-icon>
        <span>
        Udostępnij
      </span>
      </button>
    </mat-menu>
  </div>
</div>
