<div class="net">
    <h2>Hello .NET</h2>
    <div class="nav">
        <div style="background-color: green; padding: 5px 10px" routerLink="auth">Auth</div>
        <div style="background-color: cyan; padding: 5px 10px" routerLink="user">User</div>
    </div>
    <br>
    <div>
        <mat-chip-list aria-label="Fish selection">
            <mat-chip>YouTube</mat-chip>
            <mat-chip>pewdiepie</mat-chip>
            <mat-chip color="primary" selected>dank</mat-chip>
            <mat-chip color="accent" selected>Accent fish</mat-chip>
          </mat-chip-list>
          <app-single-link-card></app-single-link-card>
    </div>
</div>
