footer {
  color: #FFFFFF;
  margin-top: auto;
}

footer .container {
  background: #0099FF;
}

footer .waves {
  height: 204px;
  width: 100%;
  background-image: url("/assets/images/footer.svg");
  background-size: 100% 204px;
}

small {
  color: #D6D6D6;
}
