<footer>
  <div class="waves"></div>
  <!-- TODO: Add support for mobile devices -->
  <div class="container">
    <!-- Facebook -->
    <div class="facebook">
      <a
        target="_blank"
        href="https://www.facebook.com/grupadotnetpk/"
      >
        <img
          class="facebook-icon"
          src="/assets/images/facebook.svg"
          alt="Facebook icon"
        />
      </a>
      <div class="facebook-text">
        <span class="footer-text">
          Follow us on Facebook!
        </span>
        <br/>
        <small>
          <a
            class="text-url"
            target="_blank"
            href="https://www.facebook.com/grupadotnetpk/"
          >
            https://www.facebook.com/grupadotnetpk/
          </a>
        </small>
      </div>
    </div>
    <!-- Copyright -->
    <div class="copyright">
      <div class="copyright-text">
        <span class="footer-text">
          MewaApp Ⓒ {{ year }}
        </span>
        <br/>
        <small>
          Grupa .NET Politechnika Koszalińska
        </small>
      </div>
    </div>
  </div>
</footer>
