<div class="control-arrows">
  <button
    class="arrow-left"
    (click)="onLeftArrowClick()"
    *ngIf="this.selectedSlide > 1">
  </button>
  <button
    class="arrow-right"
    (click)="onRightArrowClick()"
    *ngIf="this.selectedSlide < this.numberOfSlides">
  </button>
</div>

<div class="content-container">
  <div
    class="slide"
    *ngIf="this.selectedSlide == 1">
    <app-slide-one></app-slide-one>
  </div>
  <div
    class="slide"
    *ngIf="this.selectedSlide == 2">
    <app-slide-two></app-slide-two>
  </div>
  <div
    class="slide"
    *ngIf="this.selectedSlide == 3">
    <app-slide-three></app-slide-three>
  </div>
</div>
