<h1 mat-dialog-title>Nowy link</h1>
<div mat-dialog-content>
  <form>
	<mat-form-field appearance="outline">
		<mat-label>
		  Url
		</mat-label>
		<input
		  type="url"
		  placeholder="https://example.com"
		  matInput [formControl]="url">
		<!-- <mat-error
		  *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
		  Please enter a valid email address
		</mat-error>
		<mat-error
		  *ngIf="emailFormControl.hasError('required')">
		  Email is <strong>required</strong>
		</mat-error> -->
	  </mat-form-field>
	  <mat-form-field appearance="outline">
		<mat-label> Nazwa </mat-label>
		<input type="text" placeholder="Link" matInput [formControl]="name">
	  </mat-form-field>
	  <mat-form-field appearance="outline">
		<mat-label> Opis </mat-label>
		<input type="text" placeholder="Opis" matInput [formControl]="description">
	  </mat-form-field>
	  <mat-form-field class="example-chip-list" appearance="outline">
		<mat-label>Tagi</mat-label>
		<mat-chip-list #chipList aria-label="Tag selection">
		  <mat-chip
			*ngFor="let tag of tags"
			(removed)="remove(tag)">
			{{tag.name}}
			<button matChipRemove>
			  <mat-icon>cancel</mat-icon>
			</button>
		  </mat-chip>
		  <input
			placeholder="Nowy tag..."
			#tagInput
			[formControl]="tagControl"
			[matAutocomplete]="auto"
			[matChipInputFor]="chipList"
			[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
			(matChipInputTokenEnd)="add($event)">
		</mat-chip-list>
		<mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
		  <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
			{{tag.name}}
		  </mat-option>
		</mat-autocomplete>
	  </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="close()">Anuluj</button>
  <button
		mat-flat-button
		color="primary"
		cdkFocusInitial
		(click)="submit()">
		Dodaj
	  </button>
</div>