.login-card {
  width: fit-content;
  height: fit-content;
  background-color: #FFFFFF;
  border: 1px solid #0099ff;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

.login-area {
  padding: 30px;
  position: relative;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.fontColor {
  color: #0099ff;
}

.iconColor {
  color: #0099ff;
}

.inputField {
  max-width: 314px;
}

.forgot {
  font-size: 12px;
  cursor: pointer;
}
.button {
  background-color: #FFFFFF;
  border: 1px solid #0099ff;
  border-radius: 40px;
  height: 36px;
  width: 100%;
  font-size: 14px;
  color: #0099ff;
}

#register {
  margin-top: 10%;
  text-align: center;
  font-weight: 300;
}

mat-label {
  margin-left: 5%;
}

a {
  text-decoration: none;
  color: #0099ff;
}

#Top {
  margin-bottom: 10px;
}
