<h1 mat-dialog-title>
	<mat-icon class="icon">
		share
	</mat-icon>
	<span>
		Nowy folder
	</span>
</h1>
<form 
	[formGroup]="addEditFolder" 
	(ngSubmit)="submit()">
	<div mat-dialog-content>
		<mat-form-field appearance="fill">
			<mat-icon 
				class="icon" 
				matPrefix>
				link
			</mat-icon>
			<mat-label>
				RedirectUrl
			</mat-label>
			<input 
				type="url" 
				placeholder="https://example.com" 
				matInput 
				formControlName="url" 
				[disabled]="true">
		</mat-form-field>
		<mat-form-field appearance="fill">
			<mat-icon 
				class="icon" 
				matPrefix>
				title
			</mat-icon>
			<mat-label>
				Nazwa
			</mat-label>
			<input 
				type="text" 
				placeholder="Link" 
				matInput 
				formControlName="name">
		</mat-form-field>
		<mat-form-field appearance="fill">
			<mat-icon 
				class="icon" 
				matPrefix>
				text_fields
			</mat-icon>
			<mat-label>
				Opis
			</mat-label>
			<input 
				type="text" 
				placeholder="Opis" 
				matInput 
				formControlName="description">
		</mat-form-field>
		<mat-form-field appearance="fill">
			<mat-icon 
				class="icon" 
				matPrefix>
				label
			</mat-icon>
			<mat-label>
				Linki
			</mat-label>
			<mat-chip-list 
				#chipList 
				aria-label="Tag selection">
				<mat-chip 
					*ngFor="let tag of tags" 
					(removed)="remove(tag)">
					{{tag.name}}
					<button matChipRemove>
						<mat-icon>
							cancel
						</mat-icon>
					</button>
				</mat-chip>
				<input 
					placeholder="Nowy tag..." 
					#tagInput 
					[formControl]="tagControl" 
					[matAutocomplete]="auto"
					[matChipInputFor]="chipList" 
					[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
					(matChipInputTokenEnd)="add($event)">
			</mat-chip-list>
			<mat-autocomplete 
				#auto="matAutocomplete" 
				(optionSelected)="selected($event)">
				<mat-option 
					*ngFor="let tag of filteredTags | async" 
					[value]="tag">
					{{tag.name}}
				</mat-option>
			</mat-autocomplete>
		</mat-form-field>
	</div>
	<div mat-dialog-actions>
		<button 
			mat-button 
			color="primary" 
			type="button"
			(click)="close()">
			Anuluj
		</button>
		<button 
			mat-flat-button 
			color="primary" 
			type="submit" 
			[disabled]="!addEditFolder.valid">
			Dodaj
		</button>
	</div>
</form>