<mat-card id="mainCard">
  <mat-card-header>
    <div class="card-header">
      <mat-card-title id="title">{{ link.name }}</mat-card-title>
    </div>
    <a id="moreIcon" [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></a>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onEdit()">
        <mat-icon>edit</mat-icon>
        <span>Edytuj</span>
      </button>
      <button mat-menu-item (click)="onDelete()">
        <mat-icon>remove</mat-icon>
        <span>Usuń</span>
      </button>
      <button mat-menu-item (click)="onShare()">
        <mat-icon>share</mat-icon>
        <span>Udostępnij</span>
      </button>
    </mat-menu>
  </mat-card-header>
  <mat-card-content>
    <img mat-card-image [ngStyle]="{
      'background-image': 'linear-gradient(0deg, #0099FF 0%, rgba(0, 153, 255, 0) 100%), url(' + imageUrl + ')',
      'background-size': 'cover',
      'background-position': 'center'}">
    <mat-card-subtitle id="description">{{ link.description | customSlice: 120 }}</mat-card-subtitle>
  </mat-card-content>

  <mat-card-footer>
    <mat-card-subtitle id="link">{{ link.url }}</mat-card-subtitle>
    <a id="linkIcon" (click)="onCopy()"><mat-icon>content_copy</mat-icon></a>
<!--    <a id="link"><mat-icon>link</mat-icon></a>-->
  </mat-card-footer>
</mat-card>
