@import "variables";

.card-with-link {
  max-width: 390px;
  max-height: 306px;
  width: 90vw;
  border: 1px solid $my-primary;
}

.mat-card-header {
  display: inline-block;
  width: 100%;
}

.card-header, .mat-card-footer {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  max-width: 100%;

  .title, .link {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 5px;
  }
}

.mat-card-footer {
  margin-left: 0;
}

.mat-card-content {
  height: 187px;
  background-size: cover;
  background-position: center;
  margin: 5px -16px 15px -16px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.card-description {
  color: #FFFFFF;
  text-shadow: -1px 0 $my-primary, 0 1px $my-primary, 1px 0 $my-primary, 0 -1px $my-primary;
  margin: 16px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
