.card-with-link {
  max-width: 390px;
  max-height: 306px;
  width: 90vw;
  border: 1px solid #0099FF;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-with-link:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.12), 0 10px 10px rgba(0,0,0,0.22);
}

mat-card-header {
  height: 58px;
}

#moreIcon {
  margin-left: auto;
  margin-right: 0;
  cursor: pointer;
}

mat-card-content {
  position: relative;
}

img {
  height: 187px;
  background-size: cover;
}

#description {
  position: absolute;
  bottom: 0;
  color: #FFFFFF;
  left: 0;
}

mat-card-footer {
  position: relative;
}

#link {
  margin-left: 33px;
  max-width: 80%;
  font-size: 20px;
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}

#linkIcon {
  margin-left: auto;
  margin-right: 0;
  position: absolute;
  top: 0;
  right: 15px;
  cursor: pointer;
}

.card-header {
  display: inline-block;
  max-width: 80%;

  #title {
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
  }
}


