<mat-card
  class="card-with-link">
  <mat-card-header>
    <div class="card-header">
      <mat-card-title class="title">
        {{ link?.name }}
      </mat-card-title>
      <a
        class="more-icon"
        [matMenuTriggerFor]="menu">
        <mat-icon>
          more_vert
        </mat-icon>
      </a>
    </div>
    <mat-menu
      #menu="matMenu"
      xPosition="before">
      <button
        mat-menu-item
        (click)="onEdit()">
        <mat-icon>
          edit
        </mat-icon>
        <span>
          Edytuj
        </span>
      </button>
      <button
        mat-menu-item
        (click)="onDelete()">
        <mat-icon>
          remove
        </mat-icon>
        <span>
          Usuń
        </span>
      </button>
      <button
        mat-menu-item>
        <mat-icon>
          share
        </mat-icon>
        <span>
          Udostępnij
        </span>
      </button>
    </mat-menu>
  </mat-card-header>
  <mat-card-content
      [ngStyle]="{'background-image': 'linear-gradient(0deg, #0099FF 0%, rgba(0, 153, 255, 0) 100%), url(' + imageUrl + ')'}">
    <div class="separator"></div>
    <mat-card-subtitle class="card-description">
      Not implemented
    </mat-card-subtitle>
  </mat-card-content>

  <mat-card-footer>
    <mat-card-subtitle class="link">
      {{ link?.url }}
    </mat-card-subtitle>
    <a
      class="link-icon"
      (click)="onCopy()">
      <mat-icon>
        content_copy
      </mat-icon>
    </a>
  </mat-card-footer>
</mat-card>
